* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  width:90%;
  margin:0 auto;
}
.boxes input {
  width: 40%;
  height: 35%;
  border-radius: 3px;
  padding: 10px;
  margin-top: 2%;
  border:none;
}
.boxes h1 {
  padding-top: 3%;
  color: white;
}
.btn {
  width: 10%;
  height: 42px;
  border-radius: 3px;
  border: none;
  background: rgba(237, 48, 82, 1);
  color: white;
}

.weather {
  padding: 7%;
}
.weather-img {
  padding-top: 20%;
}

.blocks {
  width: 29%;
  height: 325%;
  margin-top: 10%;
  margin-left: 36%;
  padding-top: 2%;
  display: flex;
  z-index: 99;
  background-color: white;
  box-shadow: 2px 3px 10px 10px rgba(190, 188, 188, 0.183);
  border-radius: 6%;
  border: 1px solid grey;
  gap: 2rem;
  border: none;
}
.weatherName {
  width: 102px;
  font-size: 38px;
  font-weight: 800;
  /* line-height: 33.18px; */
  /* text-align: left; */
  /* background:red; */
}
.temp {
  font-family: Rubik;
  font-size: 70px;
  font-weight: 400;
}
.temp1 {
  font-family: Rubik;
  font-size: 80px;
  font-weight: 400;
  line-height: 92px;
  text-align: left;
}
.mathtemp {
  display: flex;
}
.wind {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: left;
}
.winds {
  padding-top: 10%;
}
.load {
  text-align: center;
  padding-top: 10rem;
  color: red;
}
.content{
  background: linear-gradient(92.7deg, #4cb8c4 0%, #3cd3ad 100%);
  height:200px;
}

